<% if current_user %>
  Signed in as <strong><%= link_to current_user.name, user_path(current_user) %></strong>!  <%= link_to "Sign out", logout_path, id: "log_out" %>  
<% end %>

<div id="container">Sorry, maybe you are not in this story, or this story doesn't exit</div>

