

<% if current_user %>
  <div class="user_name"> 
    <%= link_to current_user.name, user_path(current_user) %>
    <span><%= link_to "Sign out", logout_path, id: "log_out" %></span> 
  </div>
<% end %>


<div class="logo_header">
  <a href="/"><%= image_tag("wellogo.png") %></a>
</div>

<div id="container"></div>

