<!-- Story頁面標頭 -->

<div class="logo_header">
  <a href="/"><%= image_tag("wellogo.png") %></a>
</div>
<% if current_user %>
  <div class="user_name"> 
  	<div class="create_icon">
		<a id="create_story" href="#create_story_modal" data-toggle="modal"><img src="../assets/create_s.png"></a>
    <%= link_to current_user.name, user_path(current_user) %>
    <span><%= link_to "Sign out", logout_path, id: "log_out" %></span> 
  </div>
<% end %>
</div>



<div id="container"></div>

