<h1>Story</h1>
<div id="container">Sorry, maybe you are not in this story, or this story doesn't exit</div>

<!--   <form id="add_photowish_form" enctype="multipart/form-data">

  <label class="control-label">Name</label>
  <input id="new_photowish_name" name="name" type="string">
  <input id="new_photowish_photo" name="photo" type="file">


  <button class="btn">cancel</button>
  <button class="btn btn-primary" id="submit_new_photowish">save</button>
  </form> -->