<div id = "welcome_logo">
	<%= image_tag("wellogo.png") %>	
	<span class = "slogen">
		Have a nice wish together.
	</span>
</div>

<h1>MainPages#welcome</h1>
<p>Find me in app/views/main_pages/welcome.html.erb</p>
