.ch-grid {
	left: 60%;
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	width: 100%;
	position: relative;
}
.ch-grid:after,
.ch-item:before {
	content: '';
    display: table;
}

.ch-grid:after {
	clear: both;
}

.ch-grid li {
	width: 150px;
	height: 150px;
	display: inline-block;
	margin: 5px;
}


.ch-grid6 {
	margin: 20px 0 0 0;
	padding: 0;
	list-style: none;
	display: block;
	width: 100%;
	position: relative;

}
.ch-grid6:after,
.ch-item6:before {
	content: '';
    display: table;
}

.ch-grid6:after {
	clear: both;
}

.ch-grid6 li {
	width: 300px;
	height: 300px;
	display: inline-block;
	margin: 10px;
}
.youtube {
margin:auto;

}