
<% if current_user %>
  Signed in as <strong><%= link_to current_user.name, user_path(current_user) %></strong>!  <%= link_to "Sign out", logout_path, id: "log_out" %>  
<% end %>

<h1>welcome <%= image_tag(current_user.picture) %> <%= current_user.name %></h1>
<div id="new_story_container">Loading</div>
<div id="container">container Loading</div>
<div id="container2">container Loading</div>