@import "bootstrap";
@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(http://fonts.googleapis.com/css?family=Alegreya+SC:700,900,400);
@import url(http://fonts.googleapis.com/css?family=Monda);

body {

  background-image: url( asset-path("bg_2.jpg", image) );
  /*background-color: rgb(173,221,221)*/
}


#welcome_logo{
	display:block;
	top:50px;
	left:80px;
	width:900px;
	height: 153px;
	position:absolute;
}
.slogen{
	font-family: 'Nothing You Could Do', cursive;
	font-size: 30px;
	position:relative;
}

#login_fb{
	display:block;
	top:100px;
	right:80px;
	font-family: 'Alegreya SC', serif;
	font-size: 35px;
	position: absolute;
	font-weight: 700;
	padding-top:2px;	
	font-color:rgb(64,49,34);
}

.custom-height-modal {
  height: 300px;
}

.custom-height-modal {
  height: 400px;
}

.story_banner {
   background: #FFF;
   height: 200px;
   width: 65%;
   left:40px;
   top:80px;
   position:absolute;
   border-style: solid; border-width: 10px;
   border-color:#FFF;
    font-family: '微軟正黑體', sans-serif;
   box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);
}
.star_photo {
	height:100px;
	width:100px;
	background: rgb(99,145,145);
    display: inline-block;
    overflow: hidden;
    box-shadow:4px 4px 3px rgba(20%,20%,40%,0.5);

}
.story_title {
width:100%;
height:100px;
background: rgb(216,207,230);
position: relative;
font-size: 36px;

}

.wishContainer{
   top:340px;
   left:40px;
   width: 65%;
   background: rgb(99,145,145);
   position: absolute;
   border-style: solid; border-width: 10px;
   border-color:#FFF;

}

.new_wish_panel{
  // margin: 0 0 0 0;
  // padding: 0 0 0 0;
  // position: absolute;
  width: 900;
}
.participator_list{
top:10px;
position: relative;
display: inline-block;
}
.participator_block{
display: inline-block;
}

.story_discription{
top :3px;
display: inline-block;
position: relative;
}

.logo_header{
  display:block;
  top:10px;
  left:10px;
  width:135px;
  height: 50px;
  position:absolute;
}
.logo_header img{
  width:100%;
  height:100%;
}

.login_status{
  display:inline-block;
}
.user_name{
  top:20px;
  right:20px;
  width:300px;
  height:50px;
  position: absolute;
font-family: 'Monda', sans-serif;
font-size: 15px;
}

.nearbirth div{
display: inline-block;
}

.story_list{
  left:40px;
  top:100px;
  width:80%;
  position: absolute;
}
.container {
  top:300px;
  width: 80%;
  margin: 20px auto 60px auto;
  position: absolute;
}

textarea {
  width:90%;
}
